---
import BaseLayout from "@/layouts/BaseLayout.astro";
---
<BaseLayout title="FontStudio Premium License" description="" noIndex="true">
  <div class="container-sm py-24 snippit">

    <h1>FontFrame Premium Error</h1>
    <p>You already have access to FontFrame Premium.
    <p>
    <p>Click the "Reload app" button in the app to unlock the premium features. This button is located underneath the "Purchase premium license" link.</p>
    <p>If it is still not working, please contact me at <a class="underline" href="mailto:fontframe@randombits.dev">fontframe@randombits.dev</a>. Include your order number, or forward your order confirmation to email to me.</p>
  </div>
</BaseLayout>
