---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {Image} from 'astro:assets';
import fontFrameFeatured from '@/assets/canva/font-frame/1.png';
import fontFrameLogo from '@/assets/canva/font-frame/logo.png';
import * as About from "../../../snippits/font-frame/index.md";
---
<BaseLayout title="Font Frame Canva App" description="Font Frame is an app in the Canva marketplace. It allows a user to create vibrant text with image backgrounds.">
  <div class="container-sm mb-40">
    <div class="flex items-center mt-20 mb-10">
      <Image width="100" src={fontFrameLogo} alt="FontFrame Logo" class="border-solid border-2 rounded-lg mr-10"/>
      <div>
        <h1 class="my-0">FontFrame</h1>
        <div class="text-lg">Create vibrant text with image backgrounds</div>
      </div>
    </div>
    <div class="border-2 rounded-2xl border-solid border-red-700 text-red-700 px-10 py-3">There is a Canva bug affecting many apps right now. If you see a dark background that makes the app unusable, try switching to Dark theme in Canva until the bug is fixed.</div>

    <br/>
    <br/>
    <a class="btn-primary decoration-0" href="https://www.canva.com/apps/AAF5vGyV5TY/fontframe" target="_blank" rel="noopener">Try FontFrame</a>
    <br/>
    <br/>
    <About.Content></About.Content>

    <div class="snippit mb-20">
      <h2>Support</h2>
      <p>If you have any questions or need support, please contact me at <a class="underline" href="mailto:fontframe@randombits.dev">fontframe@randombits.dev</a></p>

      <a href="/canva/font-frame/privacy">Privacy Policy</a>
      <br/>
      <a href="/canva/font-frame/terms">Terms and Conditions</a>
    </div>

    <Image class="mx-auto border-solid border-4 rounded-2xl w-full h-auto m-width-[800px]"
           width="800" src={fontFrameFeatured} alt="FontFrame Featured Image"/>

    <!--<Image class="mx-auto border-solid border-4 rounded-2xl w-full h-auto m-width-[800px]"-->
    <!--       width="800" src={fontFrameSecondary} alt="FontFrame Featured Image"/>-->

  </div>
</BaseLayout>
