---
import * as Privacy from "../../../snippits/font-frame/privacy.md";
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout title="FontFrame Privacy Policy">
  <div class="container-sm py-24 snippit">
    <h1>FontFrame Privacy Policy</h1>
    <Privacy.Content></Privacy.Content>
  </div>
</BaseLayout>
