---
import * as Terms from "../../../snippits/font-frame/terms.md";
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout title="FontFrame Terms and Conditions">
  <div class="container-sm py-24 snippit">
    <h1>FontFrame Terms and Conditions</h1>
    <Terms.Content></Terms.Content>
  </div>
</BaseLayout>
