---
import HtmlLayout from '../../layouts/HtmlLayout.astro';
import MarkdownContent from '../../snippits/tools.mdx';

const TOOLS = [
    {
        title: 'Snowrunner Save Editor',
        desc: 'Edit task and mission progress · Reveal or obtain upgrades',
        img: 'https://assets1.ignimgs.com/2020/04/23/snowrunner---button-fin-1587603559932.jpg?width=100',
        link: '/tools/snowrunner'
    }
]
---
<HtmlLayout title="Developer Tools" description="List of all tools • For software developers and more">
    <h1>All tools</h1>
    <MarkdownContent/>
    <tools-list>
        {
            TOOLS.map(tool =>
                    <tool-container>
                        <a href={tool.link}>
                            <tool>
                                <img width="100" src={tool.img}/>
                                <tool-text>
                                    <h2>{tool.title}</h2>
                                    <tool-desc>{tool.desc || ''}</tool-desc>
                                </tool-text>
                            </tool>
                        </a>
                    </tool-container>)
        }
    </tools-list>
</HtmlLayout>

<style>
    tools-list {
        display: block;
        padding-top: 20px;
    }

    tool {
        display: flex;
        align-items: center;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    tool img {
        margin-right: 50px;
    }

    tool-title {
        display: block;
    }

    tool-desc {
        display: block;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
</style>