---
import HtmlLayout from '../../layouts/HtmlLayout.astro';
import ToolList from "../../components/ToolList.astro";

---
<HtmlLayout title="Projects & Tools - Random Bits" description="List of projects by Random Bits">
    <h1 class="text-center">Projects</h1>
    <ToolList/>
</HtmlLayout>

<style>
    h1 {
        color: var(--color-back);
    }
</style>
