---
import HtmlLayout from '../../layouts/HtmlLayout.astro';
import MarkdownContent from '../../snippits/tools.mdx';

const TOOLS = [
    {
        title: 'Snowrunner Save Editor',
        desc: 'Edit task and mission progress · Reveal or obtain upgrades',
        img: 'https://assets1.ignimgs.com/2020/04/23/snowrunner---button-fin-1587603559932.jpg?width=100',
        link: '/tools/snowrunner'
    },
    {
        title: 'Printable Daily Schedule',
        desc: 'Generates a daily planner for appointments · One page a day · Printable',
        img: 'https://storage.googleapis.com/randombits/images/print-schedule-100.png',
        link: '/tools/print-schedule'
    },
    {
        title: 'Standard Notes Splitter',
        desc: 'A standard notes extension that splits a note into multiple areas',
        link: '/standard-notes/splitter'
    }
]
---
<HtmlLayout title="Developer Tools" description="List of all tools • For software developers and more">
    <h1>All tools</h1>
    <MarkdownContent/>
    <tools-list>
        {
            TOOLS.map(tool =>
                    <a class="nav" href={tool.link}>
                        <img width="100" src={tool.img}/>
                        <tool-text>
                            <h2>{tool.title}</h2>
                            <tool-desc>{tool.desc || ''}</tool-desc>
                        </tool-text>
                    </a>
            )
        }
    </tools-list>
</HtmlLayout>

<style>
    tools-list {
        display: block;
        padding-top: 20px;
    }

    a {
        display: flex;
        align-items: center;
        border-top: 1px solid #ccc;
    }

    a:last-child {
        border-bottom: 1px solid #ccc;
    }

    a img {
        margin-right: 50px;
    }

    tool-title {
        display: block;
    }

    tool-desc {
        display: block;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
</style>