---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {Image} from 'astro:assets';
import FontStudioLogo from '@/assets/canva/font-studio/logo.png';
---
<BaseLayout title="FontStudio Canva App" description="FontStudio is an app in the Canva marketplace. It allows a user to create advanced text effects using layers of outlines, projections, and shadows.">
  <div class="container-sm py-24 snippit">

    <h1>FontStudio Premium Error</h1>
    <p>You already have access to FontStudio Premium.
    <p>
    <p>Click the "Reload app" button in the app to unlock the premium features. This button is located underneath the "Purchase premium license" link.</p>
    <p>If it is still not working, please contact me at <a class="underline" href="mailto:matt@randombits.dev">matt@randombits.dev</a>. Include your order number, or forward your order confirmation to email to me.</p>
  </div>
</BaseLayout>
