---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {Image} from 'astro:assets';
import FontStudioLogo from '@/assets/canva/font-studio/logo.png';
import * as About from "../../../snippits/font-studio/index.md";
import * as PremiumFAQ from "../../../snippits/canva-premium-faq.md";
import * as AppFAQ from "../../../snippits/canva-apps-faq.md";
---
<BaseLayout title="FontStudio Canva App" description="FontStudio is an app in the Canva marketplace. It allows a user to create advanced text effects using layers of outlines, projections, and shadows.">
  <div class="container-sm">
    <div class="flex items-center mt-20 mb-10">
      <Image width="100" src={FontStudioLogo} alt="FontStudio Logo" class="border-solid border-2 rounded-lg mr-10"/>
      <div>
        <h1 class="my-0">FontStudio</h1>



        <div class="text-lg">A canva app. Create advanced text effects for standout designs.</div>
        <!--<button class="btn-small underline">Try FontStudio</button>-->
      </div>
    </div>
    <div class="border-2 rounded-2xl border-solid border-red-700 text-red-700 px-10 py-3">There is a known issue affecting users in Turkey, where the fonts are not loading. A fix should be available soon.</div>

    <br/>
    <br/>
    <a class="btn-primary decoration-0" href="https://www.canva.com/apps/AAGLHfr5ZM0/fontstudio" target="_blank" rel="noopener">Try FontStudio</a>
    <br/>
    <br/>

    <About.Content></About.Content>
    <PremiumFAQ.Content></PremiumFAQ.Content>
    <AppFAQ.Content></AppFAQ.Content>

    <div class="snippit">
      <h2>Support</h2>
      <p>If you have any questions or need support, please contact <a class="underline" href="mailto:fontstudio@randombits.dev">fontstudio@randombits.dev</a></p>

      <a href="/canva/font-studio/privacy">Privacy Policy</a>
      <br/>
      <a href="/canva/font-studio/terms">Terms and Conditions</a>
    </div>

    <div class="snippit">
      <h2>Examples</h2>
      <p>Here are some examples of designs you can create with the app:</p>
    </div>


    <!--<Image class="mx-auto border-solid border-4 rounded-2xl w-full h-auto m-width-[800px]"-->
    <!--       width="800" src={FontStudioFeatured} alt="FontStudio Featured Image"/>-->

  </div>

  <div class="container-lg flex flex-wrap">
    {
      ["color",
        "happy",
        "block",
        "outline",
        "swirl",
        "classic",
        "skinny",
        "bright",
        "cool",
        "pink",
        "disco",
        "neon",
        "good-times",
        "gameover",
        "blush",
        "stencil",
        "freight",
        "empty",
        "color-time",
        "crono",
        "great",
        "fine",
        "dancing-bears",
        "spray-paint",
        "sunrise",
        "party",
        "good-vibes",
        "rainbow",
        "rainy-day",
        "freeway",
        "clear",
        "icicle",
        "cosmos",
        "clash",
        "angle",
        "canvas",
        "turf",
        "rocks",
        "scary",
        "oodles",
        "scape",
        "alive",
        "modern",
        "green",
        "abolish",
        "sunny",
        "citrus",
        "wed",
        "roses",
        "lime",
        "two-ten",
        "open",
        "hoppin",
        "snap",
        "ball",
        "elastic",
        "home-club",
        "box-office",
        "dear-love",
        "torn-apart",
        "stop",
        "orin",
        "splash",
        "volts",
        "hard-work",
        "sheet",
        "cool-days",
        "freedom",
        "not-much",
        "not-yet",
        "shy",
        "rusty",
        "crazy",
        "galaxy",
        "polygon",
        "squiggle",
        "extra-bold",
        "gothic",
        "handwritten",
        "hardwired",
        "shade",
        "iron-age",
        "relaxed",
        "chalk",
        "super-nova",
        "monster",
        "soft-touch",
        "trance",
        "thrice",
        "kingdom",
        "labeled",
        "park",
        "split-decision",
        "supermix",
        "rapture",
        "metal-gear",
        "flexible",
        "ore",
        "blood-moon",
        "explore",
        "respite",
        "metallic",
        "sunblock",
        "dusk",
        "ice-box"].map((name) => {
        return (
          <img src={`https://cdn.randombits.dev/font-studio/preset/${name}.png`} loading="lazy"/>
        );
      })
    }

  </div>
</BaseLayout>
