---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {Image} from 'astro:assets';
import FontStudioFeatured from '@/assets/canva/font-studio/1.png';
import FontStudioLogo from '@/assets/canva/font-studio/logo.png';
---
<BaseLayout title="FontStudio Canva App" description="FontStudio is an app in the Canva marketplace. It allows a user to create advanced text effects using layers of outlines, projections, and shadows.">
  <div class="container-sm mb-40">
    <div class="flex items-center mt-20 mb-10">
      <Image width="100" src={FontStudioLogo} alt="FontStudio Logo" class="border-solid border-2 rounded-lg mr-10"/>
      <div>
        <h1 class="my-0">FontStudio</h1>
        <!--<div class="text-lg">Create vibrant text with image backgrounds</div>-->
      </div>
    </div>

    <div class="border-2 rounded-2xl border-solid border-red-700 text-red-700 px-10 py-3">There is a critical bug affecting FontStudio right now. If the app does not load, please refresh the page and then it should work. The bug will be fixed as soon as possible. Sorry for the inconvenience.</div>

    <p class="mb-20">A Canva App. Create advanced text effects using layers.</p>

    <a class="btn-primary decoration-0" href="https://www.canva.com/apps/AAGLHfr5ZM0/fontstudio" target="_blank" rel="noopener">Try FontStudio</a>

    <div class="mt-20 snippit mb-20">
      <h2>Support</h2>
      <p>If you have any questions or need support, please contact me at <a class="underline" href="mailto:matt@randombits.dev">matt@randombits.dev</a></p>

      <a href="/canva/font-studio/privacy">Privacy Policy</a>
      <br/>
      <a href="/canva/font-studio/terms">Terms and Conditions</a>
    </div>

    <Image class="mx-auto border-solid border-4 rounded-2xl w-full h-auto m-width-[800px]"
           width="800" src={FontStudioFeatured} alt="FontStudio Featured Image"/>

  </div>
</BaseLayout>
