---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {Image} from 'astro:assets';
import FontStudioFeatured from '@/assets/canva/font-frame/1.png';
import FontStudioSecondary from '@/assets/canva/font-frame/2.png';
import FontStudioLogo from '@/assets/canva/font-frame/logo.png';
---
<BaseLayout title="FontStudio Canva App" description="FontStudio is an app in the Canva marketplace. It allows a user to create advanced text effects using layers of outlines, projections, and shadows.">
  <div class="container-sm mb-40">
    <div class="flex items-center mt-20 mb-10">
      <!--<Image width="100" src={FontStudioLogo} alt="FontStudio Logo" class="border-solid border-2 rounded-lg mr-10"/>-->
      <div>
        <h1 class="my-0">FontStudio</h1>
        <!--<div class="text-lg">Create vibrant text with image backgrounds</div>-->
      </div>
    </div>

    <!--<p class="mb-20">A Canva App. Add an image background to your text, by uploading an image, or selecting an image from your design. Change the font, adjust the image placement, and more.</p>-->

    <!--<a class="btn-primary decoration-0" href="https://www.canva.com/apps/AAF5vGyV5TY/FontStudio" target="_blank" rel="noopener">Try FontStudio</a>-->

    <div class="mt-20 snippit mb-20">
      <h2>Support</h2>
      <p>If you have any questions or need support, please contact me at <a class="underline" href="mailto:matt@randombits.dev">matt@randombits.dev</a></p>

      <a href="/canva/font-studio/privacy">Privacy Policy</a>
      <br/>
      <a href="/canva/font-studio/terms">Terms and Conditions</a>
    </div>

    <!--<Image class="mx-auto border-solid border-4 rounded-2xl w-full h-auto m-width-[800px]"-->
    <!--       width="800" src={FontStudioFeatured} alt="FontStudio Featured Image"/>-->

    <!--<Image class="mx-auto border-solid border-4 rounded-2xl w-full h-auto m-width-[800px]"-->
    <!--       width="800" src={FontStudioSecondary} alt="FontStudio Featured Image"/>-->

  </div>
</BaseLayout>
