---
import * as Privacy from "../../../snippits/font-studio/privacy.md";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import {Image} from 'astro:assets';
import FontStudioLogo from '@/assets/canva/font-studio/logo.png';
---
<BaseLayout title="FontStudio Privacy Policy">
  <div class="container-sm py-24 snippit">

    <div class="flex items-center">
      <Image width="100" src={FontStudioLogo} alt="FontStudio Logo" class="border-solid border-2 rounded-lg mr-10"/>
      <h1>FontStudio Privacy Policy</h1>
    </div>
    <Privacy.Content></Privacy.Content>
  </div>
</BaseLayout>
