# build output
dist/

# dependencies
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# environment variables
.env
.env.production

# other
.DS_Store
.idea/
