---
import ArticleList from "../../components/article/ArticleList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Articles by Random Bits" description="A list of all software engineering guides and articles by Random Bits">
  <div class="hero h-[500px] sm:h-[600px] text-center bg-header mb-10">
    <div class="relative h-[500px] sm:h-[500px] max-w-[1000px] mx-auto z-1 items-center pt-[50px] flex">
      <div class="logo inline-block z-1 flex-1 items-center leading-[0.8] border-0 px-1 py-3 rounded-5 border-solid" style="font-family: Righteous;">
        <div class="color-header-text text-[60px]">Articles</div>
        <!--<div class="color-header-text mt-10 text-2xl">A list of some of my fun side projects</div>-->
      </div>
      <div>
        <img src="i1.svg" width="500" height="500"/>
        <!--<Logo width="200" height="200"/>-->
      </div>
    </div>
  </div>
  <div class="pt-24 pb-48">
    <ArticleList/>
  </div>
</BaseLayout>

<style>
  h1 {
      color: var(--color-back);
  }
</style>

