---
import ArticleList from "../../components/article/ArticleList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Articles by Random Bits" description="A list of all software engineering guides and articles by Random Bits">
  <div class="pt-24 pb-48">
    <h1 class="text-center pb-24">Articles</h1>

    <ArticleList/>
  </div>
</BaseLayout>

<style>
  h1 {
      color: var(--color-back);
  }
</style>

