---
import HtmlLayout from '../../layouts/HtmlLayout.astro';

import ArticleList from '../../components/ArticleList.astro';
import Card from "../../components/Card.astro";
import ArticleListV from "../../components/ArticleListV.astro";
---

<HtmlLayout title="Developer Articles" description="List of all developer articles • For software developers">
    <div class="card"><h1>Software Articles</h1></div>
    <ArticleListV/>
</HtmlLayout>
