---
import HtmlLayout from '../../layouts/HtmlLayout.astro';

import ArticleList from '../../components/ArticleList.astro';
---

<HtmlLayout title="Developer Articles" description="List of all developer articles • For software developers">
    <h1>All articles</h1>
    <ArticleList/>
</HtmlLayout>
