---
import HtmlLayout from '../../layouts/HtmlLayout.astro';
import ArticleList from "../../components/article/ArticleList.astro";
---

<HtmlLayout title="Developer Articles" description="List of all developer articles • For software developers">
    <h1 class="text-center">My Articles</h1>
    <ArticleList/>
</HtmlLayout>

<style>
  h1 {
      color: var(--color-back);
  }
</style>

