---
import HtmlLayout from '../../layouts/HtmlLayout.astro';
import ArticleList from "../../components/article/ArticleList.astro";
---

<HtmlLayout title="Articles - Random Bits" description="List of all articles by Random Bits">
    <h1 class="text-center">All Articles</h1>
    <ArticleList/>
</HtmlLayout>

<style>
  h1 {
      color: var(--color-back);
  }
</style>

