---
import * as Privacy from "../../../snippits/font-fx/privacy.md";
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout title="FontFX Privacy Policy">
  <div class="container-sm py-24 snippit">
    <h1>FontFX Privacy Policy</h1>
    <Privacy.Content></Privacy.Content>
  </div>
</BaseLayout>
