---
import * as Terms from "../../../snippits/font-fx/terms.md";
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout title="FontFX Terms and Conditions">
  <div class="container-sm py-24 snippit">
    <h1>FontFX Terms and Conditions</h1>
    <Terms.Content></Terms.Content>
  </div>
</BaseLayout>
