h2 {
    margin-top: 80px !important;
    margin-bottom: 30px !important;
}

h2:first-child {
    margin-top: 20px !important;
}

h3 {
    margin-top: 50px !important;
}


h1 {
    margin: 0;
}

.card-table {
    margin-left: -60px;
    margin-right: -60px;
}

table {
    /*table-layout: fixed;*/
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table td:first-child,
table th:first-child {
    padding-left: 60px;
}

table td:last-child,
table th:last-child {
    padding-right: 60px;
}

th {
    text-align: left;
}

td, th {
    border-bottom: 1px solid var(--color-content);
    padding: 5px 15px;
    /*white-space: nowrap;*/
    font-size: var(--font-size-caption)
}

th:last-child,
td:last-child {
    /*width: 100%;*/
}

.title-container {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.summary {
    margin-top: 30px;
}

.meta-container {
    display: flex;
}

.meta {
    flex-grow: 1;
    margin-top: 5px;
    /*color: #666;*/
    font-size: var(--font-size-caption);
    letter-spacing: 2px;
    /*font-style: italic;*/
}

.meta.date {

}

.meta.tags {
    text-align: right;
    margin-right: 10px;
}

.tag {
    display: inline-block;
    margin-right: 5px;
}

.tag-title {
    margin-right: 15px;
}

.tag:not(:last-child)::after {
    content: '·';
}

iframe {
    width: calc(100% + 80px);
    border-width: var(--border-width-light) 0;
    border-color: var(--border-color-light);
    /*border: 2px solid #ccc;*/
    /*border-radius: 5px;*/
    margin-left: -40px;
    margin-right: -40px;
}

li {
    padding: 8px 0;
}

.article {
    max-width: 1000px;
    margin: 0 auto;
}

.article-sidebar {
    max-width: 1600px;
}

.article-body img {
    border: 1px solid var(--border-color);
    margin: 20px 0;
}

.article-body img.full-img {
    border-width: var(--border-width-light) 0;
    border-color: var(--border-color-light);
    width: calc(100% + 80px);
    margin-left: -40px;
    margin-right: -40px;
}

.article-body {
    overflow: hidden;
    padding: 20px 40px !important;
    background-color: var(--back-content) !important;

}

.further-reading {
    margin-top: 50px;
    padding: 20px 40px !important;
}

.rb-article-nav {
    padding: 10px 0;
}

.rb-article-nav a {
    padding: 5px 20px;
}

.rb-article-nav a[aria-selected="true"] {
    background-color: var(--back-header);
    color: var(--color-header);
}

.rb-article-nav a.nav-tab-1 {
    padding: 4px 40px;
}

.rb-nav-sub {
    padding: 5px 0;
}