.rb-article {
  max-width: 1600px;
  margin: 20px auto 0 auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 300px 900px 300px;
}

@media screen and (max-width: 1400px) {
  .rb-article {
    grid-template-columns: 300px 700px auto;
  }
}

@media screen and (max-width: 1100px) {
  .rb-article {
    grid-template-columns: 300px 600px auto;
  }
  .rb-article__sidebar:last-child {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .rb-article {
    grid-template-columns: 100%;
  }
  .rb-article__sidebar {
    display: none;
  }
}

.rb-article__nav {
  padding: 10px 0;
  font-size: var(--font-size-caption);

  div {
    padding: 3px 10px;
  }

  a {
    padding: 3px 10px;
    //display: block;
  }

  a:hover {
    text-decoration: underline;
  }

  [aria-selected="true"] {
    text-decoration: 3px var(--back-header) underline;
    border-radius: var(--border-radius-1);
    //color: var(--color-header);
    display: inline-block;
  }
}

.rb-article__sub-nav {
  padding: 5px 0;

  a {
    padding: 0 5px;
  }
}
