.rb-article {
  max-width: 1600px;
  margin: 20px auto 0 auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 300px 900px 300px;
}

@media screen and (max-width: 1600px) {
  .rb-article {
    grid-template-columns: auto 900px 300px;
  }
}

@media screen and (max-width: 1300px) {
  .rb-article {
    grid-template-columns: auto 900px auto;
  }
  .rb-article__sidebar:last-child {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .rb-article {
    grid-template-columns: 100%;
  }
  .rb-article__sidebar {
    display: none;
  }
}

.article__further-reading {
  margin-top: 50px;
  padding: 20px 40px !important;
}

.rb-article__nav {
  padding: 10px 0;

  a {
    padding: 5px 20px;
    display: block;
  }

  a:hover {
    text-decoration: underline;
  }

  a[aria-selected="true"] {
    background-color: var(--back-header);
    color: var(--color-header);
  }
}

.rb-article__sub-nav {
  padding: 5px 0;

  a {
    padding: 3px 30px;
  }
}
