
.article-body {
  overflow: hidden;
  background-color: var(--back-content) !important;

  a {
    text-decoration: underline;
  }

  h2 {
    margin-top: 100px !important;
    margin-bottom: 32px !important;
    font-size: 48px;
  }

  h2:first-child {
    //margin-top: 40px !important;
  }

  h3 {
    margin-top: 50px !important;
    font-size: 32px;
  }


  h1 {
    margin: 0;
  }

  table {
    /*table-layout: fixed;*/
    border-collapse: collapse;
    border: var(--border-width-light) solid var(--border-color-light);
    border-radius: var(--border-radius-2);
  }

  th {
    text-align: left;
  }

  td, th {
    border-bottom: var(--border-width-light) solid var(--border-color-light);
    padding: 5px 15px;
    /*white-space: nowrap;*/
    font-size: var(--font-size-caption)
  }

  .break-word td {
    word-wrap: break-word;
  }


  iframe {
    width: 100%;
    border-width: var(--border-width-light) 0;
    border-color: var(--border-color-light);
  }

  li {
    padding: 8px 0;
  }

  ul.tight li {
    padding: 0;
  }

  img {
    border: 1px solid var(--border-color);
    margin: 20px 0;
  }

  img.full-img {
    border-width: var(--border-width-light) 0;
    border-color: var(--border-color-light);
    width: calc(100%);
  }

}
