/*p {*/
/*    font-size: 16px;*/
/*}*/


h2, h3 {
    margin-top: 50px !important;
}


h1 {
    margin: 0;
}

.card-table {
    margin-left: -40px;
    margin-right: -40px;
}

table {
    /*table-layout: fixed;*/
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table td:first-child,
table th:first-child {
    padding-left: 40px;
}

table td:last-child,
table th:last-child {
    padding-right: 40px;
}

th {
    text-align: left;
}

td, th {
    border-bottom: 1px solid #999;
    padding: 5px 15px;
    /*white-space: nowrap;*/
    font-size: var(--font-size-caption)
}

th:last-child,
td:last-child {
    /*width: 100%;*/
}

.title-container {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.summary {
    margin-top: 30px;
}

.meta-container {
    display: flex;
}

.meta {
    flex-grow: 1;
    margin-top: 5px;
    /*color: #666;*/
    font-size: var(--font-size-caption);
    letter-spacing: 2px;
    /*font-style: italic;*/
}

.meta.date {

}

.meta.tags {
    text-align: right;
    margin-right: 10px;
}

.tag {
    display: inline-block;
    margin-right: 5px;
}

.tag-title {
    margin-right: 15px;
}

.tag:not(:last-child)::after {
    content: '·';
}

iframe {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

li {
    padding: 3px 0;
}

.article-body img {
    border: 1px solid var(--border-color);
    margin: 20px 0;
}