.card {
    border: var(--border-width) solid var(--border-color);
    background-color: var(--back-1);
    border-radius: var(--border-radius-1);
    position: relative;
    margin-top: 30px;
}

.card > h1 {
    margin-left: 20px;
}

.card-large {
    overflow: hidden;
}

.card-large:hover {
    box-shadow: 2px 2px var(--shadow-color);
    translate: -2px -2px;
}

.card-title {
    font-family: var(--font-1);
    background-color: var(--back-2);
    color: var(--text-2);
    padding: 8px 20px;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: -25px;
    left: 25px;
    border: var(--border-width) solid var(--border-color);
    border-radius: 20px;
}

.card-contents {
    padding: 20px;
}

.card-title + .card-contents {
    margin-top: 20px;

}

.card-row {
    display: flex;
}

.card-row + .card-row {
    margin-top: 20px;
}


.card-row img {
    border: var(--border-width) solid var(--border-color);
    border-radius: 5px;
}

.card-row:hover > img {
    box-shadow: 1px 1px var(--shadow-color);
    translate: -1px -1px;
}

.card-row > div {
    margin-left: 20px;
}

.card-row-title {
    font-weight: bold;
    font-size: 16px;
}

.card-large .card-row-title {
    font-size: 22px;
}

.card-row-desc {
    margin-top: 5px;
    font-size: var(--font-size-caption);
}

.card-row-link {
    margin: 10px 0;
    font-size: var(--font-size-caption);
}

.card-action-btn {
    margin-top: 20px;
}

.card-v-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    /*grid-template-columns: auto;*/
    gap: 30px;
    justify-items: center;
    justify-content: center;
}

.card-v-layout .card {
    /*margin-right: 30px;*/
    overflow: hidden;
}

.card-v-layout .card-row-title {
    /*margin-top: 20px;*/
}

.card-v-layout .card:hover {
    box-shadow: var(--hover-shadow) var(--hover-shadow) var(--shadow-color);
    translate: calc(-1 * var(--hover-shadow)) calc(-1 * var(--hover-shadow));
    cursor: pointer;
}

.card-v-layout img {
    height: 200px;
    object-fit: cover;
    border-bottom: var(--border-width) solid var(--border-color);
    /*border-radius: 10px;*/
}