.card > h1 {
  margin-left: 20px;
}

.image-card {
  overflow: hidden;
  display: flex;
}

.card-contents {
  padding: 20px 40px;
}

.card-row {
  display: flex;
  padding: 10px;
}

.image-card .card-row-text {
  padding: 20px;
}

.image-card .card-row-title {
  margin-bottom: 20px;
}

.card-row img {
  border: var(--border-width) solid var(--border-color);
  border-radius: 5px;
  width: 100px;
  height: 100px;
}

.card-row:hover .card-row-title {
  text-decoration: underline;
}

.card-row-title {
  font-weight: 600;
  font-size: 15px;
}

.image-card .card-row-title {
  font-size: 22px;
}

.card-row-desc {
  margin-top: 5px;
  font-size: var(--font-size-caption);

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card-row-link {
  margin: 10px 0;
  font-size: var(--font-size-caption);
}

.card-action-btn {
  margin-top: 20px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: stretch;
}

.card-list .card {
  width: 600px;
}

.card-list-v {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  gap: 30px;
  justify-items: center;
  justify-content: center;
}

.card-list-v img {
  border-bottom: var(--border-width) solid var(--border-color);
  max-width: 100%;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media screen and (max-width: 1400px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}

.dashboard-alt-right .card:not(:first-child) {
  margin-top: 50px;
}

.article-tag {
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  margin: 0 5px;
  font-size: var(--font-size-caption);
  font-weight: bold;
  border: 1px solid var(--border-color);
  /* background-color: var(--color-content); */
  /* color: var(--back-content); */
}
