.card {
    border: var(--border-width) solid var(--border-color);
    background-color: var(--back-content);
    color: var(--color-content);
    border-radius: var(--border-radius-1);
    position: relative;
    /*margin-top: 30px;*/
}

.card > h1 {
    margin-left: 20px;
}

.image-card {
    overflow: hidden;
    display: flex;
}

.image-card-v {
    display: block;
}

.image-card:hover {
    box-shadow: 2px 2px var(--shadow-color);
    translate: -2px -2px;
}

.card-title {
    font-family: var(--font-1);
    background-color: var(--back-header);
    color: var(--color-header);
    padding: 8px 20px;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: -25px;
    left: 25px;
    border: var(--border-width) solid var(--border-color);
    border-radius: 20px;
}

.card-contents {
    padding: 20px;
}

.card-title + .card-contents {
    padding-top: 40px;
}

.card-title + .card-contents {
    margin-top: 20px;

}

.card-row {
    display: flex;
}

.card-row + .card-row {
    margin-top: 20px;
}

.image-card .card-row-text {
    padding: 20px;
}


.card-row img {
    border: var(--border-width) solid var(--border-color);
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.card-row:hover img {
    box-shadow: 1px 1px var(--shadow-color);
    translate: -1px -1px;
}

.card-row > div {
    margin-left: 20px;
}

.card-row-title {
    font-weight: bold;
    font-size: 16px;
}

.image-card .card-row-title {
    font-size: 22px;
}

.card-row-desc {
    margin-top: 5px;
    font-size: var(--font-size-caption);
}

.card-row-link {
    margin: 10px 0;
    font-size: var(--font-size-caption);
}

.card-action-btn {
    margin-top: 20px;
}

.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 30px;
    align-items: stretch;
}

.dashboard-alt .card-list {
    grid-template-columns: 1fr;
}

.card-list-v {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    /*grid-template-columns: auto;*/
    gap: 30px;
    justify-items: center;
    justify-content: center;
}

.card-list-v img {
    border-bottom: var(--border-width) solid var(--border-color);
    max-width: 100%;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

@media screen and (max-width: 1400px) {
    .card-list {
        grid-template-columns: 1fr;
    }
}

.dashboard-alt-right .card:not(:first-child) {
    margin-top: 50px;
}