footer {
  background-color: var(--back-header);
  border-top: var(--border-width) solid var(--border-color);
  padding: 40px 0 80px;
  color: var(--color-header);
}

.footer-content {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.social-links {
  display: flex;
  align-items: center;
  padding: 10px;
}

.social-links a, .social-links button {
  text-decoration: none;
  padding: 0 10px;
  fill: var(--color-header);
}

.social-links svg:hover {
  scale: 1.1;
}

.social-links svg {
  width: 32px;
  height: 32px;
}

.copyright {
  text-align: center;
}

footer .quick-msg {
  position: absolute;
  display: none;
  margin-left: 20px;
  margin-top: 5px;
}
