footer {
    margin-top: 80px;
    background-color: var(--back-2);
    border-top: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
    padding: 40px 0;
    color: var(--text-2);
}

.footer-content {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.social-links {
    display: flex;
    padding: 10px;
}

.social-links a {
    text-decoration: none;
    padding: 0 10px;
    fill: var(--text-1);
}

.social-links a:hover {
    translate: -1px -1px;
}

.social-links svg {
    width: 32px;
    height: 32px;
}

.copyright {
    text-align: center;
}