/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import './variables.css';
@import './card.css';

body {
    font-family: var(--font-2);
    margin: 0;
    background-color: var(--background-base);
    color: #444;
    overflow-y: scroll;
    font-size: var(--font-size-text);
    letter-spacing: var(--letter-spacing-text);

    /*display: flex;*/
    /*flex-direction: column;*/
    /*min-height: 100vh;*/
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

main-with-sidebar {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

sidebar-spacing {
    flex: 0 0 auto;
    width: 300px;
    padding: 20px 10px;
}

.sidebar-title {
    font-weight: bold;
    margin: 20px 0;
}

sidebar {
    width: 300px;
    padding: 20px 10px;
    flex: 0 0 auto;
    position: fixed;
    height: 250px;
}

sidebar a {
    display: block;
    padding: 5px 10px;
}

sidebar a:hover {
    background-color: #e5e5e5;
}

content {
    flex: 1 1 auto;
    padding-left: 50px;
    overflow: hidden;
}

h1 {
    font-family: var(--font-1);
}

h2 {
    font-family: var(--font-1);
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #00897B;
    text-transform: uppercase;
}

a {
    color: inherit;
}

a.nav {
    text-decoration: none;
}

a.button {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    font-family: inherit;
    border: 1px solid var(--border-color);
    border-radius: var(--button-border-radius);
    font-size: 15px;
    background-color: #fff;
    font-weight: bold;
}

/*pre {*/
/*    */
/*}*/

