@import "./variables.css";
@import "./card.scss";
@import "./tailwind.css";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-2);
  margin: 0;
  background-color: var(--back-0);
  color: var(--color-back);
  font-size: var(--font-size-text);
  letter-spacing: var(--letter-spacing-text);
  font-display: block;
}

h1,
h2,
h3 {
  font-family: var(--font-1);
  font-weight: 500;
}

h1 {
  font-size: var(--font-size-1);
}

h2 {
  font-size: var(--font-size-2);
}

a {
  color: inherit;
  text-decoration: none;
}

.snippit a {
  text-decoration: underline;
}

button {
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.btn-primary {
  text-align: center;
  padding: 16px 32px;
  background-color: var(--back-btn);
  color: var(--color-btn);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-1);
  border: 2px solid var(--border-color);
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.8);
  transition: box-shadow 150ms ease;
  &:hover {
    transform: translate(4px, 4px);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
  }
  border-radius: var(--border-radius-2);
}

.btn-secondary {
  text-align: center;
  padding: 16px 32px;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-2);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-1);
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.8);
  transition: box-shadow 150ms ease;
  &:hover {
    transform: translate(4px, 4px);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
  }
}

.uppercase {
  text-transform: uppercase;
}

.btn-small {
  padding: 8px 16px;
  font-size: 16px;
}

hr {
  margin: 0;
  border: none;
  border-bottom: var(--border-width) solid var(--border-color);
}

img {
  display: block;
}
