.remark-code-title {
  background-color: var(--back-code);
  border-top: var(--border-width-light) solid var(--border-color-light);
  padding: 8px 60px;
  font-weight: bold;
  font-family: monospace;
  font-size: var(--font-size-caption);
  margin: 20px -40px 0;
}

pre {
  margin: 0;
}

p {
  line-height: 1.75rem;
}

p code {
  background-color: var(--back-contrast);
  border-radius: 5px;
  padding: 1px 5px;
  margin: 0 5px;
  font-size: var(--font-size-caption);
  white-space: nowrap;
}

code[class*="language-"] {
  white-space: pre-wrap;
  background-color: var(--back-code);
  font-size: 14px;
  border-style: solid;
  border-radius: var(--border-radius-2);
  border-width: var(--border-width-light);
  border-color: var(--border-color-light);
  /*border-radius: 5px;*/
  padding: 20px 20px;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.remark-code-title + pre code {
  border-top-style: none;
}

pre[class*="language-"] > code {
  display: block;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: .2em;
  border-radius: 0.3em;
  color: #c92c2c;
  border: 1px solid var(--border-color-light);
  display: inline;
  white-space: normal;
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99;
}

.token.punctuation {
  color: #5F6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #116329;
}

.token.string,
.token.char {
  color: #cc5588;
}

.token.selector,
.token.attr-name,
.token.function,
.token.builtin,
.token.inserted {
  color: #3355cc;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #338833;
}

.token.regex,
.token.important {
  color: #e90;
}

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: .7;
}

blockquote {
  margin: 20px 0;
  padding: 8px 20px;
  background-color: var(--back-contrast);
  border-radius: var(--border-radius-2);
  font-size: var(--font-size-caption);
}

blockquote > p {
  margin: 0;
}


/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */
.theme-dark {

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #6272a4;
  }

  .token.punctuation {
    color: #f8f8f2;
  }

  .namespace {
    opacity: .7;
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #ff79c6;
  }

  .token.boolean,
  .token.number {
    color: #bd93f9;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #50fa7b;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: #f8f8f2;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.class-name {
    color: #f1fa8c;
  }

  .token.keyword {
    color: #8be9fd;
  }

  .token.regex,
  .token.important {
    color: #ffb86c;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}

