:root {
  --hero-shadow: var(--color-back);
  --back-code: #fafafa;
  --color-back: var(--color-content);
  --color-hero: var(--color-back);
  --back-contrast: #ced4da;
  --back-content: #e7ebef;
  --back-header: rgb(255, 191, 35);
  --back-btn: var(--back-header);
  --color-content: #111111;
  --color-light: #444;
  --color-header: #111;
  --color-btn: var(--color-header);
  --border-radius-1: 5px;
  --border-radius-2: 10px;
  --border-width: 2px;
  --border-width-light: 1px;
  --border-color: #111;
  --border-color-light: #aaa;
  --font-1: "Outfit", sans-serif;
  --font-2: "Space Grotesk", sans-serif;
  --font-size-text: 16px;
  --font-size-1: 48px;
  --font-size-2: 32px;
  --letter-spacing-text: 0px;
  --font-size-caption: 15px;
  --shadow-color: var(--border-color);
  --landing-bits: #c4c7ca;
  --primary-contrast: #464b52;
  --back-0: #e7ebef;
  --back-1: #c1c7ce;
  --back-2: #e7ebef;
}
