---
import '../../styles/footer.css';

const today = new Date();

const githubSVG = await fetch('https://storage.googleapis.com/randombits/images/github.svg');
const discordSVG = await fetch('https://storage.googleapis.com/randombits/images/discord.svg');
const twitterSVG = await fetch('https://storage.googleapis.com/randombits/images/twitter.svg');
---

<footer>
    <div class="footer-content">
        <div class="social-links">
            <a href="https://github.com/nienow" target="_blank">
                <div set:html={githubSVG}/>
            </a>
            <a href="https://discordapp.com/users/806661811143049216" target="_blank">
                <div set:html={discordSVG}/>
            </a>
            <a href="https://twitter.com/RandomBitsDev" target="_blank">
                <div set:html={twitterSVG}/>
            </a>
        </div>
    </div>
    <div class="copyright">
        &copy; {today.getFullYear()} Matthew Nienow
    </div>
</footer>
