---
import Logo from "../Logo.astro";
---

<div class="mt-[-20px] text-center relative z-10">

    <div  style="font-family: Righteous;" class="rb-color-header text-2xl pt-5 rounded-b-xl overflow-hidden shadow-2xl inline-flex items-center">
        <a class="px-6" href="/" aria-label="home page"><Logo includeDigits={true} width={45} height={45}/></a>
        <a href="/articles"
           class="px-5 py-3 md:px-10 hover:underline hover:decoration-4 hover:underline-offset-4 cursor-pointer">
            articles
        </a> /
        <a href="/tools"
           class="px-5 py-3 md:px-10 hover:underline hover:decoration-4 hover:underline-offset-4 cursor-pointer">
            projects
        </a> /
      <a href="/about"
         class="px-5 py-3 md:px-10 hover:underline hover:decoration-4 hover:underline-offset-4 cursor-pointer">
        about
      </a>
    </div>
</div>
