---
import '../../styles/header.css';
import '../../styles/global.css';
import ThemeChanger from "../ThemeChanger";
---

<header class="header">
    <nav class="header-content">
        <a class="header-title nav" href="/">Random Bits</a>
        <a class="nav" href="/articles">Articles</a>
        <a class="nav" href="/tools">Tools</a>
    </nav>

</header>

<ThemeChanger client:load/>

