---
import Logo from "../Logo.astro";
---

<div class="mt-[-20px] text-center relative z-10">

    <div  style="font-family: Righteous;" class="bg-header text-header-text text-3xl pt-5 rounded-b-xl overflow-hidden shadow-2xl inline-flex items-center">
        <!--<a href="/" class="rb-logo px-3 border-4 border-neutral-200 rounded-[50px]">rb</a>-->
        <a class="px-6" href="/" aria-label="home page"><Logo includeDigits={true} width={55} height={55}/></a>
        <a href="/articles"
           class="px-10 py-3 hover:underline hover:decoration-8 hover:underline-offset-8 cursor-pointer">
            articles
        </a> /
        <a href="/tools"
           class="px-10 py-3 hover:underline hover:decoration-8 hover:underline-offset-8 cursor-pointer">
            tools
        </a>
        <!--<a href="/about"-->
        <!--   class="px-10 py-3 hover:underline hover:decoration-8 hover:underline-offset-8 cursor-pointer">-->
        <!--    about-->
        <!--</a>-->
    </div>
</div>

<style>
    a {
        text-decoration: none;
    }
</style>