---
import Logo from "../Logo.astro";
---

<header class="mt-[-20px] relative z-10 border-b bg-header color-header-text">

  <nav aria-label="Main" style="font-family: Righteous;"
       class="block max-w-[1000px] mx-auto flex text-lg sm:text-lg pt-5 rounded-b-xl overflow-hidden items-center">
    <a class="flex-1 px-6 block sm:inline " href="/" aria-label="Home Page">randombits.dev</a>
    <a href="/services" class="header-link">services</a> /
    <a href="/articles" class="header-link">articles</a> /
    <!--<a href="/projects" class="header-link">projects</a> /-->
    <a href="/about" class="header-link">about</a> /
    <a href="/contact" class="header-link">contact</a>
  </nav>
</header>

