---
import '@fontsource/righteous';
import HomeFooter from "../components/home/HomeSocialLinks.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import RandomBits from "../components/home/RandomBits";
import ArticleList from "../components/article/ArticleList.astro";
import ToolList from "../components/ToolList.astro";
---

<BaseLayout title="Page not found" description="">
  <div class="container text-center">
  <div class="text-6xl mt-20 mb-5">404</div>
  <div>Page not found</div>
  </div>
</BaseLayout>

<style>


</style>
