---
import * as AboutMe from '../snippits/about-me.md'
import '../styles/md.scss';
import BlogSidebar from "../layouts/BlogSidebar.astro";
import {getEntry} from 'astro:content';
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogHeader from "../layouts/BlogHeader.astro";
import ArticleTOC from "../components/article/ArticleTOC";

import '../styles/article-container.scss';
import '../styles/article-body.scss';
import '../styles/prism-custom.scss';
import Hero from "../components/home/Hero.astro";
import ServicesSection from "../components/home/ServicesSection.astro";
import EmailMe from "../components/EmailMe.astro";

const discordSVG = await fetch('https://storage.googleapis.com/randombits/images/discord.svg');

---
<BaseLayout title="About Me" description="My CV and experience.">
  <Hero>
    <div class="color-header-text text-6xl">About Me</div>
  </Hero>

  <div class="mt-24"></div>

  <!--<ServicesSection number="01">-->
  <!--  Experience-->
  <!--</ServicesSection>-->




  <div class="container text-xl pb-48">

    <div>Hi, I'm <b>Matthew</b>, a software engineer from Duluth, Minnesota, USA. I recently founded <i>Random Bits Software Engineering</i>, after working for 14 years designing and building enterprise web applications in the corporate world. I'm passionate about building high-quality, performant, and user-friendly web applications.</div>

    <h2>Contact Me</h2>

    <div>Send me an email or connect with me on discord.</div>

    <div class="flex">
    <div>
    <EmailMe/>
    <!--<div id="email-reveal-output" class="ml-5"></div>-->
    </div>

    <div class="ml-5 mt-5">
      <a href="https://discord.com/users/806661811143049216" target="_blank" class="px-5 py-3 border outlined rounded-4 inline-flex items-center">
        <div set:html={discordSVG}/>
        <div class="text-xl font-bold">randombits.dev</div>
      </a>
    </div>
    </div>

    <div class="mt-10">Free initial consultation to discuss your current ideas or challenges.</div>

    <AboutMe.Content></AboutMe.Content>
  </div>
</BaseLayout>

<style is:global>
  h2 {
    font-size: 2em;
    margin-top: 6rem;
  }

  li {
    margin-bottom: 1rem;
  }

  a {
    //text-decoration: underline;
  }

  main svg {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
    fill: var(--color-content);
  }

  #email-reveal {
    cursor: pointer;
  }

</style>
