---
import HtmlLayout from '../layouts/HtmlLayout.astro';
import ArticleList from '../components/ArticleList.astro';
import FeaturedTools from "../components/FeaturedTools.astro";
import GuideList from "../components/GuideList.astro";
import Card from "../components/Card.astro";
import Random from "../components/Random.astro";
import WelcomeText from "../snippits/welcome.md";
---
<HtmlLayout title="Developer articles and tools" description="Developer articles, tools, and more">
    <div class="dashboard dashboard-alt">
        <div>
            <GuideList/>
            <a class="button card-action-btn" href="/articles">See All Articles</a>
        </div>

        <div class="dashboard-alt-right">
            <FeaturedTools/>
            <Card title="About Me">
                <WelcomeText/>
            </Card>
            <Random/>
        </div>
    </div>
</HtmlLayout>
<style>
    .dashboard {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 30px;
    }

    @media screen and (max-width: 1200px) {
        .dashboard {
            grid-template-columns: 1fr;
        }
    }
</style>
