---
import HtmlLayout from '../layouts/HtmlLayout.astro';
import ArticleList from '../components/ArticleList.astro';
import FeaturedTools from "../components/FeaturedTools.astro";
import GuideList from "../components/GuideList.astro";
import Card from "../components/Card.astro";
import Random from "../components/Random.astro";
---
<HtmlLayout title="Developer articles and tools" description="Developer articles, tools, and more">
    <div class="dashboard">
        <div>
            <ArticleList limit={5}/>
            <GuideList/>
        </div>

        <div>
            <FeaturedTools/>
            <!--<Card title="About Me">
                <div>Some bogus text that goes on and on. Some bogus text that goes on and on.Some bogus text that goes
                    on and on.Some bogus text that goes on and on.Some bogus text that goes on and on.Some bogus text
                    that goes on and on.Some bogus text that goes on and on.
                </div>
            </Card>-->
            <Random/>
        </div>
    </div>
</HtmlLayout>
<style>
    .dashboard {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 30px;
    }

    @media screen and (max-width: 1200px) {
        .dashboard {
            grid-template-columns: 1fr;
        }
    }
</style>
