---
import HtmlLayout from '../layouts/HtmlLayout.astro';
import ArticleList from '../components/ArticleList.astro';
import FeaturedTools from "../components/FeaturedTools.astro";
import GuideList from "../components/GuideList.astro";
import Card from "../components/Card.astro";
---
<HtmlLayout title="Developer articles and tools" description="Developer articles, tools, and more">
    <div style="display: flex; margin-top: 30px;">
        <div>
            <ArticleList limit={5}/>
            <GuideList/>
        </div>

        <div class="right-side">
            <FeaturedTools/>
            <!--<Card title="About Me">
                <div>Some bogus text that goes on and on. Some bogus text that goes on and on.Some bogus text that goes
                    on and on.Some bogus text that goes on and on.Some bogus text that goes on and on.Some bogus text
                    that goes on and on.Some bogus text that goes on and on.
                </div>
            </Card>-->
        </div>
    </div>
</HtmlLayout>
<style>
    .right-side {
        margin-left: 50px;
        min-width: 250px;
        max-width: 350px;
        padding-left: 50px;
    }
</style>
