---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/home/Hero.astro";
import ArticleList from "../components/article/ArticleList.astro";
import EmailMe from "../components/EmailMe.astro";
---

<BaseLayout title="Random Bits Software Engineering" description="Software engineering guides, articles, and projects.">
  <Hero img="i1.svg">
    <div class="text-[75px]" >random</div>
    <div class="text-[150px]">bits</div>
    <div class="text-[60px] px-6 leading-[0.8]">software</div>
    <div class="text-[48px] px-6 leading-[0.8]">engineering</div>
  </Hero>

  <!--<div class="text-center">-->
  <!--  <h1 class="text-[60px] m-0">websites, enterprise applications, technology consulting, recruiting</h1>-->
  <!--  <h2 class="text-[38px]">from a simple website to a custom enterprise app</h2>-->
  <!--  <p class="text-lg">A business website should be modern, yet simple. Too many websites use fancy animation </p>-->

  <!--</div>-->

  <div class="container">
  <h1>Design. Build. Ship.</h1>
  <p class="text-xl">Hi, I'm Matthew. Whether your building something custom, enhancing an existing app, or just need advice, I can help. </p>
  <div class="flex">
    <button class="button outlined ">See Services</button>
    <button class="button outlined ml-10">About Me</button>
    <EmailMe/>
  </div>
  </div>

  <div class="container">
    <h2>Featured Articles</h2>
    <ArticleList limit={6}/>
  </div>

  <div class="text-center max-w-[1000px] mx-auto">
    <h1 class="text-[110px] mb-0"><span class="text-6xl">hi, I'm</span>  <b>Matthew</b></h1>
    <h2 class="text-[32px] mt-0">a software engineer based in Duluth, MN</h2>
<p class="text-xl">I have 14 years of experience creating web applications</p>
  </div>


  <div class="text-center max-w-[1000px] mx-auto">
    <h1 class="text-[110px] mb-0">create <b>anything</b></h1>
    <h2 class="text-[38px] mt-0"><span class="text-[24px]">from a </span><>simple website</> <span class="text-[24px]">to a</span> <>custom enterprise app</></h2>

    <div class="flex mt-10 border-2 border-solid outlined rounded-10">
      <div class="p-10">
        <img src="/website.png" height="500"/>
      </div>
      <div class="ml-20 text-left text-lg border-l-dashed border-l-2 p-10">
        <p class="text-lg ">Unlock your business potential with a modern and user friendly application:</p>

        <!--<p>Examples of capabilities:</p>-->
        <ul>
          <li>Business websites</li>
          <li>Web applications</li>
          <li>Mobile apps</li>
        </ul>
        <button class="button outlined">More Details</button>
      </div>
    </div>
  </div>

  <div class="text-center">
    <h1 class="text-[120px] mb-0">Smart Hosting</h1>
    <h2 class="text-[38px] mt-0">and a modern tech stack</h2>
    <p>Endless possibilities for hosting, catered to your performance and maintainability needs.</p>
  </div>

  <div class="text-center">
    <h1 class="text-[80px] mb-0">Technology Consulting</h1>
    <h2 class="text-[24px] mt-0">to determine the right software, process, or technology for your business</h2>
    <p>Technology is moving fast. </p>
  </div>


  <!--<div class="mx-5 md:mx-10 mb-20">-->
  <!--  <h1 class="text-center">Recent Projects</h1>-->
  <!--  <ToolList limit={2}/>-->
  <!--  <a class="button" href="/projects">See All Projects</a>-->

  <!--  <h1 class="mt-30 text-center">Articles</h1>-->
  <!--  <ArticleList/>-->
  <!--</div>-->


  <div aria-disabled="true"
       class="rb-background-bits absolute px-1 py-1 top-0 h-[500px] sm:h-[600px] leading-tight tracking-tighter text-justify overflow-hidden z-0">
    <!--<RandomBits client:only="solid-js"/>-->
  </div>
</BaseLayout>

<style>

  h1 b {
    background: linear-gradient(90deg, #0531a2 0%, #031768 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .rb-background-bits {

    //margin-top: 55px;
    //color: var(--landing-bits);
    //background: linear-gradient(var(--back-0) 4%, var(--landing-bits) 25% 75%, rgba(255, 255, 255, 0%));
    opacity: 0;
    color: #03314d;
    font-size: 20px;
    //background: linear-gradient(var(--back-header) 4%, #025388 25% 75%, var(--back-header));
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    font-family: "Courier New", serif;
    font-weight: 900;
    letter-spacing: -3px;
    //border-bottom: 1px solid var(--landing-bits);

  }

  .list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--back-2);
    color: var(--color-back);
  }

  a.button {
    max-width: 500px;
    margin: 30px auto;
  }

  .other-area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    background-color: var(--back-2);
  }

  .other-area a.button {
    max-width: 500px;
    margin: 0 auto;
  }

</style>

<script>
  const html = [...Array.from({length: 10000})].map(() => {
    return `<span>${Math.random() < .5 ? 0 : 1} </span>`;
  }).join(' ');
  document.querySelector('.rb-background-bits').innerHTML = html;

  // document.querySelector('.rb-background-bits').addEventListener('mousemove', (e) => {
  //   console.count('mousemove')
  //   if (e.target.tagName === 'SPAN') {
  //     e.target.style.fontWeight = 'bold';
  //
  //   }
  // });
</script>
