---
import '@fontsource/righteous';
import HomeFooter from "../components/home/HomeSocialLinks.astro";
import ToolList from "../components/ToolList.astro";
import ToolDesc from "../snippits/tools-desc.md";
import ArticleDesc from "../snippits/articles-desc.md";
import ArticleList from "../components/article/ArticleList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import RandomBits from "../components/home/RandomBits";
---

<BaseLayout title="Random Bits" description="Software Engineering, Articles, Tools">
<div class="bg-base min-h-screen text-center">

    <div aria-disabled="true" class="rb-background-bits absolute px-1 py-1 top-0 h-screen leading-tight tracking-tighter text-justify overflow-hidden z-0">
      <RandomBits client:only="solid-js"/>
    </div>

    <div class="relative min-h-screen z-10 flex flex-col items-center">
        <div class="flex-1 text-primary flex items-center">
            <div class="mb-30">

            <div class="rb-hero-text text-[100px] md:text-[150px] lg:text-[200px] font-bold leading-tight" style="font-family: Righteous;">random bits</div>
            <div class="rb-hero-sub text-4xl md:text-6xl lg:text-8xl px-6 font-bold leading-tight" style="font-family: Righteous;">software engineering</div>
            <HomeFooter/>
            </div>
        </div>
    </div>
</div>
<div class="container mx-auto text-center">
    <div class="pt-40 list-container">
        <h1>Featured Tools</h1>
        <div class="desc">
            <ToolDesc/>
        </div>
        <ToolList/>
        <a class="button" href="/tools">See All Tools</a>
    </div>

    <div class="list-container">
        <h1>Latest Articles</h1>
        <div class="desc">
            <ArticleDesc/>
        </div>
        <ArticleList limit={6}/>
        <a class="button" href="/articles">See All Articles</a>
    </div>
</div>
</BaseLayout>

<style>

    .rb-background-bits {
        color: var(--landing-bits);
        font-family: "Courier New",serif;
        font-weight: 900;
        letter-spacing: -3px;
        border-bottom: 1px solid var(--landing-bits);
    }

    .list-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        background-color: var(--back-2);
        color: var(--color-back);
    }

    a.button:last-child {
        max-width: 500px;
        margin: 30px auto;
    }

    .other-area {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
        background-color: var(--back-2);
    }

    .other-area a.button {
        max-width: 500px;
        margin: 0 auto;
    }

    .rb-hero-text {
        /*background: url(/images/mask/1.jpg);
        -webkit-background-clip: text;
        color: transparent;*/
        text-shadow: -5px -5px 0 var(--hero-shadow), -5px 5px 0 var(--hero-shadow), 5px -5px 0 var(--hero-shadow), 5px 5px 0 var(--hero-shadow), 15px 15px 0 var(--hero-shadow);
    /*text-shadow: none;*/
    }

    .rb-hero-sub {
        text-shadow: -3px -3px 0 var(--hero-shadow), -3px 3px 0 var(--hero-shadow), 3px -3px 0 var(--hero-shadow), 3px 3px 0 var(--hero-shadow), 10px 10px 0 var(--hero-shadow);
    }
</style>
