---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/home/Hero.astro";
import ArticleList from "../components/article/ArticleList.astro";
import Waves from "../components/home/Waves.astro";
import ProjectList from "../components/ProjectList.astro";
import NewsList from "../components/news/NewsList.astro";
---

<BaseLayout title="Random Bits Software Engineering" description="Software engineering guides, articles, and projects.">
  <!-- <Hero img="i1.svg"> -->
  <!-- <div class="flex mt-36 items-center justify-center">
    <div class="btn-secondary">Testing this</div>
  </div> -->
  <div class="text-6xl font-header text-center pl-24 mt-36">
    <div>Software Engineering.</div>
    <div>Redefined.</div>
  </div>
  <div class="pt-16 text-2xl text-center">Web apps, mobile apps, technology consulting, and more.</div>
  <div class="pt-10 flex items-center justify-center">
    <a href="/services" class="btn-primary">View Services</a>
    <a href="/about" class="btn-secondary ml-10">About Me</a>
  </div>
  <!-- </Hero> -->

  <!-- <Waves /> -->

  <!-- <div class="bg-primary">
    <div class="container py-24">
      <div class="grid sm:grid-cols-2 gap-10 p-4">
        <div class="text-4xl">With the right software, great things can happen</div>
        <div class="text-xl">
          Whether you’re starting from scratch, or enhancing an existing product, receive a personalized development
          experience that fits your business.
        </div>
      </div>
    </div>
  </div> -->

  <!--<div class="container pt-48">-->
  <!--  <div class="text-5xl font-header text-center mb-10">Latest Updates</div>-->
  <!--  <NewsList/>-->
  <!--  <div class="text-center pt-20">-->
  <!--    <a href="/articles" class="btn-primary">View All News</a>-->
  <!--  </div>-->
  <!--</div>-->

  <div class="container pt-48">
    <div class="text-5xl font-header text-center mb-10">Projects</div>
    <ProjectList limit={2} />
    <div class="flex justify-center pt-20">
      <a href="/projects" class="btn-primary">View All Projects</a>
    </div>
  </div>

  <div class="container pt-48">
    <div class="text-5xl font-header text-center mb-10">Featured Articles</div>
    <ArticleList limit={6} />
    <div class="flex justify-center pt-20">
      <a href="/articles" class="btn-primary">View All Articles</a>
    </div>
  </div>
</BaseLayout>
