---
import BaseLayout from "../layouts/BaseLayout.astro";
import RandomBits from "../components/home/RandomBits";
import ArticleList from "../components/article/ArticleList.astro";
import ToolList from "../components/ToolList.astro";
import Hero from "../components/home/Hero.astro";
---

<BaseLayout title="Random Bits Software Engineering" description="Software engineering guides, articles, and projects.">
  <Hero/>
  <div class="mx-5 md:mx-10 mb-20">
    <h1 class="text-center">Recent Projects</h1>
    <ToolList limit={2}/>
    <a class="button" href="/tools">See All Projects</a>

    <h1 class="mt-30 text-center">Articles</h1>
    <ArticleList/>
  </div>

  <div aria-disabled="true"
       class="rb-background-bits absolute px-1 py-1 top-0 h-[500px] sm:h-[800px] leading-tight tracking-tighter text-justify overflow-hidden z-0">
    <RandomBits client:only="solid-js"/>
  </div>

</BaseLayout>

<style>

  .rb-background-bits {
    color: var(--landing-bits);
    font-family: "Courier New", serif;
    font-weight: 900;
    letter-spacing: -3px;
    border-bottom: 1px solid var(--landing-bits);
  }

  .list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--back-2);
    color: var(--color-back);
  }

  a.button {
    max-width: 500px;
    margin: 30px auto;
  }

  .other-area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    background-color: var(--back-2);
  }

  .other-area a.button {
    max-width: 500px;
    margin: 0 auto;
  }

</style>
