---
import Footer from '../components/layout/Footer.astro';
import BaseHead from '../components/layout/BaseHead.astro';
import ThemeChanger from "../components/ThemeChanger";
import '../styles/header.css';
import '@fontsource/righteous';
import HomeLinks2 from "../components/home/HomeLinks.astro";
import HomeFooter from "../components/home/HomeSocialLinks.astro";
import ToolList from "../components/ToolList.astro";
import ToolDesc from "../snippits/tools-desc.md";
import ArticleDesc from "../snippits/articles-desc.md";
import ArticleList from "../components/ArticleList.astro";


const digits = [...Array.from({length: 20000})].map(() => {
    return Math.random() < .5 ? 0 : 1;
}).join(' ');
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title="Random Bits" description=""/>
</head>
<body>
<div class="bg-base min-h-screen relative text-center">

    <div aria-disabled="true" class="rb-background-bits absolute h-screen leading-tight tracking-tighter text-justify overflow-hidden z-0">{digits}</div>

    <div class="relative min-h-screen z-10 flex flex-col items-center">
        <HomeLinks2/>

        <div class="flex-1 text-primary flex items-center">
            <div class="mb-30">

            <div class="rb-hero-text text-[100px] md:text-[150px] lg:text-[200px] font-bold leading-tight" style="font-family: Righteous;">random bits</div>
            <div class="rb-hero-sub text-4xl md:text-6xl lg:text-8xl px-6 font-bold leading-tight" style="font-family: Righteous;">software engineering</div>
            <HomeFooter/>
            </div>
        </div>
    </div>
</div>
<div class="container mx-auto text-center">
    <div class="pt-40 list-container">
        <h1 class="text-2xl">Featured Tools</h1>
        <div class="desc">
            <ToolDesc/>
        </div>
        <ToolList/>
        <a class="button" href="/tools">See All Tools</a>
    </div>

    <div class="list-container">
        <h1 class="text-2xl">Latest Articles</h1>
        <div class="desc">
            <ArticleDesc/>
        </div>
        <ArticleList/>
        <a class="button" href="/articles">See All Articles</a>
    </div>
</div>

<Footer/>
<ThemeChanger client:only="solid-js"/>

</body>
</html>

<style>

    .rb-background-bits {
        /*color: #987240;*/
        color: var(--landing-bits);
        font-family: Cherry Bomb One;
        border-bottom: 1px solid var(--landing-bits);
    }

    .list-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        background-color: var(--back-2);
        color: var(--color-back);
    }

    a.button:last-child {
        max-width: 500px;
        margin: 30px auto;
    }

    .other-area {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
        background-color: var(--back-2);
    }

    .other-area a.button {
        max-width: 500px;
        margin: 0 auto;
    }

    .rb-hero-text {
        /*background: url(/images/mask/1.jpg);
        -webkit-background-clip: text;
        color: transparent;*/
        text-shadow: -5px -5px 0 var(--hero-shadow), -5px 5px 0 var(--hero-shadow), 5px -5px 0 var(--hero-shadow), 5px 5px 0 var(--hero-shadow);
    /*text-shadow: none;*/
    }
    
    .rb-hero-sub {
        text-shadow: -3px -3px 0 var(--hero-shadow), -3px 3px 0 var(--hero-shadow), 3px -3px 0 var(--hero-shadow), 3px 3px 0 var(--hero-shadow);
    }
</style>
