---
import GuideList from "../components/GuideList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleDesc from '../snippits/articles-desc.md';
import ToolDesc from '../snippits/tools-desc.md';
import WelcomeDesc from '../snippits/welcome.md';
import ToolList from "../components/ToolList.astro";
import Random from "../components/Random.astro";
---
<BaseLayout title="Developer articles and tools" description="Developer articles, tools, and more" bodyClass="homepage">

    <div class="hero-container welcome">
        <div class="hero">
            <div class="hero-title">Welcome to Random Bits</div>
            <div class="hero-desc">
                <WelcomeDesc/>
            </div>
        </div>
    </div>

    <div class="hero-container featured-article">
        <div class="hero flex">
            <img src="/images/notebook2.jpg"/>
            <div class="hero-info">
                <div class="tag">--Featured Article--</div>
                <div class="hero-title">Creating Standard Notes Extensions</div>
                <div class="hero-desc">One of the best parts of Standard Notes is the ability to write extensions. This
                    is a
                    comprehensive guide for how to write editor extensions.
                </div>
                <a class="button" href="/standard-notes/creating-extensions">Read Full Article</a>
            </div>
        </div>
    </div>
    <div class="list-container">
        <h1 style="text-align: center; margin-top: 50px">Featured Tools</h1>
        <div class="desc">
            <ToolDesc/>
        </div>
        <ToolList/>
        <a class="button" href="/tools">See All Tools</a>
    </div>

    <div class="list-container">
        <h1 style="text-align: center">Latest Articles</h1>
        <div class="desc">
            <ArticleDesc/>
        </div>
        <GuideList/>
        <a class="button" href="/articles">See All Articles</a>
    </div>

    <div class="other-area">
        <div class="random">
            <Random/>
        </div>
    </div>
</BaseLayout>
<style>

    .desc {
        max-width: 800px;
        text-align: center;
        margin: 0 auto 20px;
    }

    .tag {
        font-size: 16px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .featured-article {
        background-color: var(--back-1);
        color: var(--color-hero);
    }

    .hero-container {
        padding: 80px 30px 50px;
        text-align: center;
        border-bottom: var(--border-width) solid var(--border-color);
    }

    .hero-container.welcome {
        background-color: var(--back-2);
        color: var(--color-back);
    }

    .hero-container img {
        max-width: 300px;
        height: auto;
        border: var(--border-width) solid var(--border-color);
        flex: 0 0 auto;
        object-fit: cover;
        border-radius: 20px;
        margin-right: 50px;
    }

    .hero-info {
        flex: 1 1 auto;
    }

    .hero {
        margin: 0 auto;
        max-width: 1000px;
    }

    .hero-title {
        font-size: 50px;
        font-family: var(--font-1);
        font-weight: bold;
        margin-bottom: 20px;
    }

    .hero-desc {
        margin-bottom: 20px;
    }

    .list-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        background-color: var(--back-2);
        color: var(--color-back);
    }

    a.button:last-child {
        max-width: 500px;
        margin: 30px auto;
    }

    .other-area {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
        background-color: var(--back-2);
    }

    .other-area a.button {
        max-width: 500px;
        margin: 0 auto;
    }


    @media screen and (max-width: 1000px) {
        .hero-container img {
            display: none;
        }
    }


</style>
