---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/home/Hero.astro";
---

<BaseLayout title="Web Application Development" description="">
  <div class="hero h-[500px] sm:h-[600px] text-center bg-header">
    <div class="relative h-[500px] sm:h-[500px] max-w-[1000px] mx-auto z-1 items-center pt-[50px] flex">
      <div class="logo inline-block z-1 flex-1 items-center leading-[0.8] border-0 px-1 py-3 rounded-5 border-solid" style="font-family: Righteous;">
        <div class="color-header-text text-[150px]"></div>
        <div class="color-header-text text-6xl">Services</div>

      </div>
      <div>
        <img src="i1.svg" width="500" height="500"/>
        <!--<Logo width="200" height="200"/>-->
      </div>
    </div>
  </div>

  <div class="container items-center flex">
    <h1 class="text-[150px]"><b>01</b></h1>
    <h1 class="text-6xl ml-5">Web app <br/>development</h1>
  </div>

  <div class="max-w-[1000px] mx-auto grid grid-cols-2 gap-10">
    <div>
      <h3>Native Mobile Apps</h3>
      <p class="text-lg">Our portfolio features a myriad of different web apps. Modern web development projects require more interactivity and responsiveness than ever before. When looking for developers, don’t settle for a web development company that can’t provide a large range of services. Unfortunately, most web development companies don’t offer comprehensive web development services. When you work with the development team at Koombea, you get every development service you will ever need in one place.</p>
    </div>
    <div>
      <h3>Hybrid Mobile Apps</h3>
      <p class="text-lg">Our comprehensive approach to software development allows you to merge development and design into a single process to create a seamless product that will help your organization stand out from your competition. Save time, increase your ROI, and get to market sooner when you choose an app development company that can do it all.</p>

    </div>
    <div>
      <h3>Cordova Mobile Apps</h3>
      <p class="text-lg">The design of your web application plays an important role in its overall success. Instead of hiring a web app design company to utilize trendy designs, take advantage of our technical expertise and industry experience and build a web application that provides a seamless User Experience (UX) and a world-class design.</p>
    </div>
    <div>
      <h3>PWA (Progress Web Apps)</h3>
      <p class="text-lg">Sadly, too many web designers fail to account for the wide variety of devices used to access the Internet. Many designers make User Experience sacrifices in favor of trendy layouts and animations. The User Experience is the centerpiece of our web application design services because we understand that the User Experience is vital to the overall success of your app.</p>
    </div>
  </div>

  <div class="container items-center flex">
    <h1 class="text-[150px]"><b>02</b></h1>
    <h1 class="text-6xl ml-5">Mobile app <br/>development</h1>
  </div>

  <div class="max-w-[1000px] mx-auto grid grid-cols-2 gap-10">
    <div>
      <div class="text-2xl">Native Mobile Apps</div>
      <p class="text-lg">Our portfolio features a myriad of different web apps. Modern web development projects require more interactivity and responsiveness than ever before. When looking for developers, don’t settle for a web development company that can’t provide a large range of services. Unfortunately, most web development companies don’t offer comprehensive web development services. When you work with the development team at Koombea, you get every development service you will ever need in one place.</p>
    </div>
    <div>
      <div class="text-2xl">Hybrid Mobile Apps</div>
      <p class="text-lg">Our comprehensive approach to software development allows you to merge development and design into a single process to create a seamless product that will help your organization stand out from your competition. Save time, increase your ROI, and get to market sooner when you choose an app development company that can do it all.</p>

    </div>
    <div>
      <div class="text-2xl">Cordova Mobile Apps</div>
      <p class="text-lg">The design of your web application plays an important role in its overall success. Instead of hiring a web app design company to utilize trendy designs, take advantage of our technical expertise and industry experience and build a web application that provides a seamless User Experience (UX) and a world-class design.</p>
    </div>
    <div>
      <div class="text-2xl">PWA (Progress Web Apps)</div>
      <p class="text-lg">Sadly, too many web designers fail to account for the wide variety of devices used to access the Internet. Many designers make User Experience sacrifices in favor of trendy layouts and animations. The User Experience is the centerpiece of our web application design services because we understand that the User Experience is vital to the overall success of your app.</p>
    </div>
  </div>

  <div class="text-center max-w-[1000px] mx-auto">
    <h1 class="text-[110px] mb-0"><b>Web</b> <span class="text-[50px]">application development</span></h1>
    <h2 class="text-[38px] mt-0"></h2>
  </div>

  <div class="text-center max-w-[1000px] mx-auto">
    <h1 class="text-[110px] mb-0"><b>PWA</b> <span class="text-[50px]">(progressive web apps)</span></h1>
    <h2 class="text-[38px] mt-0"></h2>

    <p class="text-lg">Progressive Web Apps allow the creation of mobile apps by simply using using resposive web design. In other words, a user is able to install a website to their phone, but it acts seemlessly like an app. It even works offline. The user installs the app directly from the business website, instead of the apple or google play stores. It is also usually cheaper to implement. I highly recommend PWAs over native mobile apps.</p>

    <ul>
      <li>Offline capable</li>
      <li>Download directly from your website</li>
      <li>Faster and easier to develop</li>
    </ul>

    <div class="flex mt-10 border-2 border-solid outlined rounded-10">
      <div class="p-10">
        <img src="/website.png" height="500"/>
      </div>
      <div class="ml-20 text-left text-lg border-l-dashed border-l-2 p-10">
        <p class="text-lg ">Unlock your business potential with a modern and user friendly application:</p>

        <!--<p>Examples of capabilities:</p>-->
        <ul>
          <li>Business websites</li>
          <li>Web applications</li>
          <li>Mobile apps</li>
        </ul>
        <button class="button outlined">More Details</button>
      </div>
    </div>
  </div>

  <div class="hero h-[500px] sm:h-[600px] text-center bg-header">
    <div class="relative h-[500px] sm:h-[500px] max-w-[1000px] mx-auto z-1 items-center pt-[50px] flex">
      <div class="logo inline-block z-1 flex-1 items-center leading-[0.8] border-0 px-1 py-3 rounded-5 border-solid" style="font-family: Righteous;">
        <div class="color-header-text text-[150px]">2</div>
        <div class="color-header-text text-6xl">Mobile application development</div>

      </div>
      <div>
        <img src="phone.svg" width="500" height="500"/>
        <!--<Logo width="200" height="200"/>-->
      </div>
    </div>
  </div>

  <div class="text-center">
    <h2>Native Mobile Apps</h2>
  </div>

  <div class="max-w-[1000px] mx-auto grid grid-cols-2 gap-10">
    <div>
      <h3>Native Mobile Apps</h3>
      <p class="text-lg">Our portfolio features a myriad of different web apps. Modern web development projects require more interactivity and responsiveness than ever before. When looking for developers, don’t settle for a web development company that can’t provide a large range of services. Unfortunately, most web development companies don’t offer comprehensive web development services. When you work with the development team at Koombea, you get every development service you will ever need in one place.</p>
    </div>
    <div>
      <h3>Hybrid Mobile Apps</h3>
      <p class="text-lg">Our comprehensive approach to software development allows you to merge development and design into a single process to create a seamless product that will help your organization stand out from your competition. Save time, increase your ROI, and get to market sooner when you choose an app development company that can do it all.</p>

    </div>
    <div>
      <h3>Cordova Mobile Apps</h3>
      <p class="text-lg">The design of your web application plays an important role in its overall success. Instead of hiring a web app design company to utilize trendy designs, take advantage of our technical expertise and industry experience and build a web application that provides a seamless User Experience (UX) and a world-class design.</p>
    </div>
    <div>
      <h3>PWA (Progress Web Apps)</h3>
      <p class="text-lg">Sadly, too many web designers fail to account for the wide variety of devices used to access the Internet. Many designers make User Experience sacrifices in favor of trendy layouts and animations. The User Experience is the centerpiece of our web application design services because we understand that the User Experience is vital to the overall success of your app.</p>
    </div>
  </div>

  <div class="text-center">
    <h1 class="text-[120px] mb-0">Smart Hosting</h1>
    <h2 class="text-[38px] mt-0">and a modern tech stack</h2>
    <p>Endless possibilities for hosting, catered to your performance and maintainability needs.</p>
  </div>

  <div class="hero h-[500px] sm:h-[600px] text-center bg-header">
    <div class="relative h-[500px] sm:h-[500px] max-w-[1000px] mx-auto z-1 items-center pt-[50px] flex">
      <div class="logo inline-block z-1 flex-1 items-center leading-[0.8] border-0 px-1 py-3 rounded-5 border-solid" style="font-family: Righteous;">
        <div class="color-header-text text-[150px]">03</div>
        <div class="color-header-text text-6xl mt-10">Technology Consulting</div>
        <div class="color-header-text text-xl mt-10">to determine the right software, process, or technology for your business</div>
      </div>
      <div>
        <img src="i1.svg" width="500" height="500"/>
        <!--<Logo width="200" height="200"/>-->
      </div>
    </div>
  </div>

  <div class="text-center">
    <h1 class="text-[80px] mb-0">Technology Consulting</h1>
    <h2 class="text-[24px] mt-0">to determine the right software, process, or technology for your business</h2>
    <p>Technology is moving fast. </p>
  </div>


  <!--<div class="mx-5 md:mx-10 mb-20">-->
  <!--  <h1 class="text-center">Recent Projects</h1>-->
  <!--  <ToolList limit={2}/>-->
  <!--  <a class="button" href="/projects">See All Projects</a>-->

  <!--  <h1 class="mt-30 text-center">Articles</h1>-->
  <!--  <ArticleList/>-->
  <!--</div>-->


  <div aria-disabled="true"
       class="rb-background-bits absolute px-1 py-1 top-0 h-[500px] sm:h-[600px] leading-tight tracking-tighter text-justify overflow-hidden z-0">
    <!--<RandomBits client:only="solid-js"/>-->
  </div>
</BaseLayout>

<style>

  .hero2 {
    //background: linear-gradient(90deg, #f6da26 0%, #e19e75 100%);
  }

  h1 b {
    background: linear-gradient(90deg, #0531a2 0%, #031768 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .rb-background-bits {

    //margin-top: 55px;
    //color: var(--landing-bits);
    //background: linear-gradient(var(--back-0) 4%, var(--landing-bits) 25% 75%, rgba(255, 255, 255, 0%));
    opacity: 0;
    color: #03314d;
    font-size: 20px;
    //background: linear-gradient(var(--back-header) 4%, #025388 25% 75%, var(--back-header));
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    font-family: "Courier New", serif;
    font-weight: 900;
    letter-spacing: -3px;
    //border-bottom: 1px solid var(--landing-bits);

  }

  .list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--back-2);
    color: var(--color-back);
  }

  a.button {
    max-width: 500px;
    margin: 30px auto;
  }

  .other-area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    background-color: var(--back-2);
  }

  .other-area a.button {
    max-width: 500px;
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
  }

  ul li::before {
    content: url('/icon_right.svg');
    color: red;  /* Color of the bullet point */
    font-weight: bold;  /* Make the bullet point bold */
    display: inline-block;  /* Needed to add space between the bullet point and the list item */
    position: relative;
    width: 2em;  /* Also needed for space (adjust as needed) */
    margin-left: -1em;  /* Also needed for space (adjust as needed) */
    top: 6px;
  }

</style>

<script>
  const html = [...Array.from({length: 10000})].map(() => {
    return `<span>${Math.random() < .5 ? 0 : 1} </span>`;
  }).join(' ');
  document.querySelector('.rb-background-bits').innerHTML = html;

  // document.querySelector('.rb-background-bits').addEventListener('mousemove', (e) => {
  //   console.count('mousemove')
  //   if (e.target.tagName === 'SPAN') {
  //     e.target.style.fontWeight = 'bold';
  //
  //   }
  // });
</script>
