---
import {getCollection} from "astro:content";

import ImageCard from "../../components/ImageCard.astro";
import HtmlLayout from "../../layouts/HtmlLayout.astro";
import {getCollectionSortedByOrder} from "../../utils/articleUtils";
const posts = await getCollectionSortedByOrder('standard-notes');
---

<HtmlLayout title="Standard Notes Extension Guides" description="List of standard notes extension articles">

<h1 class="text-center text-bg-text">Standard Notes Extension Guides</h1>

    <div class="card-list">
{
    posts.map(article => {
        return <ImageCard title={article.data.title} desc={article.data.desc}
                          url={'/standard-notes/' + article.slug}/>
    })
}
    </div>
</HtmlLayout>
