---
import {getCollection} from "astro:content";

import ImageCard from "../../components/ImageCard.astro";
import HtmlLayout from "../../layouts/HtmlLayout.astro";
const posts = (await getCollection('standard-notes'));
---

<HtmlLayout title="Standard Notes Articles" description="List of standard notes articles">

<h1 class="center">Standard Notes Extension Guide</h1>
    <p>One of the best parts of Standard Notes is the ability to use extensions. This is a comprehensive guide for how to install and write editor extensions.</p>

    <div class="card-list">
{
    posts.map(article => {
        return <ImageCard img={article.data.img} title={article.data.title} desc={article.data.desc}
                          url={'standard-notes/' + article.slug}/>
    })
}
    </div>
</HtmlLayout>