---
const {img} = Astro.props;
---
<div class="hero h-[500px] sm:h-[600px] text-center bg-header">
  <div class="relative h-[500px] sm:h-[500px] max-w-[1000px] mx-auto z-1 items-center pt-[50px] flex">
    <div class="logo inline-block z-1 flex-1 items-center leading-[0.8] border-0 px-1 py-3 rounded-5 border-solid" style="font-family: Righteous;">
        <slot/>

        <!--<a class="button mt-30! sm:text-xl!" href="/about">About Random Bits</a>-->

    </div>
    {img && <div class="hidden lg:block">
      <img src={img} width="500" height="500"/>
    </div>}
  </div>
</div>

<style>
  .hero {
    //background-image: url('/textures/green-dust-and-scratches.png');
    color: white;
  }

  @media screen and (min-width: 768px) {
    .rb-hero-text {
      color: #d5cdcd;
      //background: linear-gradient(90deg, #e9c46a, #f4a261);
      //-webkit-background-clip: text;
      //-webkit-text-fill-color: transparent;
      text-shadow: -5px -5px 0 var(--hero-shadow), -5px 5px 0 var(--hero-shadow), 5px -5px 0 var(--hero-shadow), 5px 5px 0 var(--hero-shadow), 12px 12px 0 var(--hero-shadow);
    }

    .rb-hero-sub {
      text-shadow: -3px -3px 0 var(--hero-shadow), -3px 3px 0 var(--hero-shadow), 3px -3px 0 var(--hero-shadow), 3px 3px 0 var(--hero-shadow), 10px 10px 0 var(--hero-shadow);
    }

  }
</style>
