---

---
<div class="bg-base h-[500px] sm:h-[800px] text-center">
  <div class="relative h-[500px] sm:h-[800px] z-10 flex flex-col items-center">
    <div class="flex-1 text-primary flex items-center">
      <div class="">
        <div class="rb-hero-text text-[40px] sm:text-[75px] md:text-[100px] lg:text-[150px] font-bold leading-tight"
             style="font-family: Righteous;">random bits
        </div>
        <div class="rb-hero-sub text-4xl md:text-6xl lg:text-[80px] px-6 font-bold leading-tight" style="font-family: Righteous;">software
          engineering
        </div>

        <a class="button mt-30! sm:text-xl!" href="/about">About Random Bits</a>

      </div>
    </div>
  </div>
</div>

<style>
  @media screen and (min-width: 768px) {
    .rb-hero-text {
      text-shadow: -5px -5px 0 var(--hero-shadow), -5px 5px 0 var(--hero-shadow), 5px -5px 0 var(--hero-shadow), 5px 5px 0 var(--hero-shadow), 15px 15px 0 var(--hero-shadow);
    }

    .rb-hero-sub {
      text-shadow: -3px -3px 0 var(--hero-shadow), -3px 3px 0 var(--hero-shadow), 3px -3px 0 var(--hero-shadow), 3px 3px 0 var(--hero-shadow), 10px 10px 0 var(--hero-shadow);
    }

  }
</style>
