---
const {url} = Astro.props;
---

<a href={url} style="font-family: Righteous;"
   class="text-8xl px-10 py-3 border-neutral-200 underline decoration-8 underline-offset-8 hover:decoration-8">
    <slot/>
</a>
