---
const {url} = Astro.props;
---

<div class="text-3xl mb-20 fixed top-5 text-center w-full" style="font-family: Righteous;">
    <a href="/" class="px-3 border-4 border-neutral-200 rounded-[50px]">rb</a>
<a href={url}
   class="px-10 py-3 hover:underline hover:decoration-8 hover:underline-offset-8 cursor-pointer">
    articles
</a> /
    <a href={url}
       class="px-10 py-3 hover:underline hover:decoration-8 hover:underline-offset-8 cursor-pointer">
        tools
    </a> /
    <a href={url}
       class="px-10 py-3 hover:underline hover:decoration-8 hover:underline-offset-8 cursor-pointer">
        about
    </a>
</div>