---
const githubSVG = await fetch('https://storage.googleapis.com/randombits/images/github.svg');
const discordSVG = await fetch('https://storage.googleapis.com/randombits/images/discord.svg');
const twitterSVG = await fetch('https://storage.googleapis.com/randombits/images/twitter.svg');
---

    <div class="homepage-social-links">
        <div class="homepage-social-links-content flex flex-wrap gap-4 lg:gap-16">
            <a href="https://github.com/nienow" target="_blank" aria-label="github social link">
                <div class="svg" set:html={githubSVG}/>
            </a>
            <a href="https://discordapp.com/users/806661811143049216" target="_blank" aria-label="discord social link">
                <div set:html={discordSVG}/>
            </a>
            <a href="https://twitter.com/RandomBitsDev" target="_blank" aria-label="twitter social link">
                <div set:html={twitterSVG}/>
            </a>
        </div>
    </div>

<style is:inline>
    .homepage-social-links {
        margin-top: 80px;
        color: var(--color-header);
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }

    .homepage-social-links-content a {
        text-decoration: none;
        fill: var(--color-content);
    }

    .homepage-social-links-content svg:hover {
        scale: 95%;
    }

    .homepage-social-links-content svg {
        width: 60px;
        height: 60px;
        background-color: var(--back-header);
        padding: 30px;
        border-radius: 60px;
        overflow: hidden;
        box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    }
</style>