---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout>
  <div class="container">
  <h1 class="text-center">ImageText App</h1>

  <h2>About</h2>
  <p>ImageText is a Canva App. It allows you to add image backgrounds to text elements in Canva.</p>

  <h2>Support</h2>
  <p>If you have any questions or need support, please contact me at <a class="underline" href="mailto:matt@randombits.dev">matt@randombits.dev</a></p>

  <h2>Privacy Policy</h2>

  <p>The ImageText app does NOT collect, store, or share any data, and does NOT use cookies.</p>

  <h2>Terms and Conditions</h2>

  <p>The ImageText App is licensed under the <b>MIT license</b>, which grants free use of the software and source code, and offers no warranty or liability. See the full license below:</p>

  <h3>MIT License</h3>
  <p>
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
  </p>
  <p>
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
  </p>
  <p>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
  </p>
  </div>
</BaseLayout>
