---
const {article, url} = Astro.props;
---

<a href={url} class="nav">
    <div class="card card-large">
        <div class="card-row">
            <img width="200" height="200" src={article.img}/>
            <div>
                <div class="card-row-title">{article.title}</div>
                <div class="card-row-desc">{article.desc}</div>
            </div>
        </div>
    </div>
</a>

<style>
    .article-container {
        box-sizing: border-box;
        padding: 10px 0;
    }

    .article-title {
        font-size: 20px;
        letter-spacing: 2px;
        margin: 0;
    }

    .article-summary {
        font-size: 14px;
        margin: 10px 0;
        -webkit-line-clamp: 5;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        letter-spacing: 1px;
        color: #555;
    }
</style>