---
import '../styles/footer.css';

const today = new Date();
---

<footer>
	<div class="footer-content">
	<div class="social-links">
		<a href="https://github.com/nienow" target="_blank">
			<img src="https://storage.googleapis.com/randombits/images/github.svg" alt="Github Link" width="30"/>
		</a>
		<a href="https://discordapp.com/users/806661811143049216" target="_blank">
			<img src="https://storage.googleapis.com/randombits/images/discord.svg" alt="Discord Link" width="30"/>
		</a>
		<a href="https://twitter.com/RandomBitsDev" target="_blank">
			<img src="https://storage.googleapis.com/randombits/images/twitter.svg" alt="Twitter Link" width="30"/>
		</a>
	</div>
	</div>
	<div class="copyright">
		&copy; {today.getFullYear()} Matthew Nienow
	</div>
</footer>
