---
import '../styles/header.css';
---

<header class="header">
    <nav class="header-content">
        <a href="/" class="header-title">Random Bits</a>
        <a href="/articles">Articles</a>
        <a href="/tools">Tools</a>
    </nav>
</header>
