---
const { width, height } = Astro.props;
---

<div role="img" aria-label="Logo" style={{ width: width + "px", height: width + "px" }}></div>

<style>
  div {
    /*width: ${width}px;
    height: ${height}px;*/
    width: 50px;
    height: 50px;
    background-color: #000;
    /*color: #fff;*/
    -webkit-mask: url("logov3.png") no-repeat center / contain;
    mask: url("logov3.png") no-repeat center / contain;
    mask-mode: luminance;
    -webkit-mask-mode: luminance;
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
  }
</style>
