---
import Card from "./Card.astro";
---

<Card>
    <div id="rdm-text">I came here for the random bits!</div>
    <a id="rdm-btn" class="button">Generate!</a>
</Card>

<style>
    #rdm-text {
        margin-bottom: 30px;
    }


</style>

<style is:global>
    .rdm-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        font-size: 32px;
        padding: 30px;
        font-family: var(--font-2);
        /*pointer-events: none;*/
    }
</style>

<script>
    const randomBit = () => {
        const num = Math.random();
        return num < .5 ? 0 : 1;
    };

    let intervalId;
    let el;
    const btn = document.getElementById('rdm-btn');
    const text = document.getElementById('rdm-text');
    btn.addEventListener('click', () => {
        if (intervalId) {
            clearInterval(intervalId);
            intervalId = undefined;
            el.remove();
            btn.innerText = 'Again!';
        } else {
            // btn.remove();
            el = document.createElement('div');
            el.setAttribute('class', 'rdm-overlay');
            document.body.appendChild(el);
            intervalId = setInterval(() => {
                el.innerText += ' ' + randomBit();
            }, 50);
            text.innerHTML = 'Your Welcome!';
            btn.innerText = 'Please Stop!';
        }

    });

</script>