---
import Card from "./Card.astro";
---

<h1 id="rdm-text">I came here for the random bits!</h1>
<a id="rdm-btn" class="button">Generate!</a>
<div id="rdm-out"/>
<style>
    #rdm-text {
        margin-bottom: 30px;
    }

    #rdm-btn {
        margin: 0 auto;
        max-width: 500px;
    }


</style>

<style is:global>
    .rdm-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        font-size: 32px;
        padding: 30px;
        font-family: var(--font-2);
        /*pointer-events: none;*/
    }
</style>

<script>
    const randomBit = () => {
        const num = Math.random();
        return num < .5 ? 0 : 1;
    };

    let intervalId;
    let el;
    const btn = document.getElementById('rdm-btn');
    const text = document.getElementById('rdm-text');
    const out = document.getElementById('rdm-out');
    btn.addEventListener('click', () => {
        if (intervalId) {
            clearInterval(intervalId);
            intervalId = undefined;
            btn.innerText = 'Again!';
        } else {
            intervalId = setInterval(() => {
                out.innerText += ' ' + randomBit();
            }, 50);
            text.innerHTML = 'Your Welcome!';
            btn.innerText = 'Please Stop!';
        }

    });

</script>