---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectList from "../../components/ProjectList.astro";

---
<BaseLayout title="Projects by Random Bits" description="A list of all open source projects created by Random Bits">
  <h1 class="text-center my-24">Open Source Projects</h1>

  <div class="text-center max-w-[1000px] mx-auto mb-10">
    <!--<h1 class="text-[60px] mb-0">Some of my fun side projects</h1>-->
    <h2 class="text-[38px] mt-0"></h2>

    <ProjectList/>
</BaseLayout>

<style>
    h1 {
        color: var(--color-back);
    }
</style>
