---
import HtmlLayout from '../../layouts/HtmlLayout.astro';
import ToolList from "../../components/ProjectList.astro";

---
<HtmlLayout title="Projects by Random Bits" description="A list of all open source projects created by Random Bits">
    <h1 class="text-center">Projects</h1>
    <ToolList/>
</HtmlLayout>

<style>
    h1 {
        color: var(--color-back);
    }
</style>
