---
import BaseLayout from "@/layouts/BaseLayout.astro";
---
<BaseLayout>
  <div class="container-sm snippit">
    <h1 class="text-center">ImageText App</h1>

    <h2>About</h2>
    <p>ImageText is a Canva App. It allows you to add image backgrounds to text elements in Canva.</p>

    <h2>Support</h2>
    <p>If you have any questions or need support, please contact me at <a class="underline" href="mailto:matt@randombits.dev">matt@randombits.dev</a></p>

    <a href="/canva/image-text/privacy">Privacy Policy</a>
    <br/>
    <a href="/canva/image-text/terms">Terms and Conditions</a>


  </div>
</BaseLayout>
