---
import * as Privacy from "../../../snippits/image-text/privacy.md";
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout title="ImageText Privacy Policy">
  <div class="container-sm py-24 snippit">
    <h1>ImageText Privacy Policy</h1>
    <Privacy.Content></Privacy.Content>
  </div>
</BaseLayout>
