---
import * as Terms from "../../../snippits/image-text/terms.md";
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout title="ImageText Terms and Conditions">
  <div class="container-sm py-24 snippit">
    <h1>ImageText Terms and Conditions</h1>
    <Terms.Content></Terms.Content>
  </div>
</BaseLayout>
