---
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import BaseHead from '../components/layout/BaseHead.astro';

const {title, description, img, bodyClass} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title={title} description={description} img={img}/>
</head>
<body class={bodyClass}>
<Header/>
<slot/>
<Footer/>
</body>
</html>