---
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import BaseHead from '../components/layout/BaseHead.astro';
import ThemeChanger from "../components/layout/ThemeChanger";
import '@fontsource/righteous';


const {title, description, img, bodyClass} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title={title} description={description} img={img}/>
</head>
<body class="">
<div class="flex flex-col min-h-screen">
<Header/>
    <div class="flex-1">
<slot/>
    </div>
<Footer/>
</div>
<ThemeChanger client:load/>
</body>
</html>
