---
import HtmlLayout from "./HtmlLayout.astro";
import '../styles/article.css';
import '../styles/prism-custom.css';
import BlogHeader from "./BlogHeader.astro";
import Card from "../components/Card.astro";

const {
    content,
} = Astro.props;
---

<HtmlLayout title={content.title} description={content.desc} img={content.img}>
    <BlogHeader meta={content}/>
    <div class="card article-body">
        <slot/>
    </div>

</HtmlLayout>