---
const {
    meta: {title, tags, desc, updated, img},
    group
} = Astro.props;
---
    <div class="">
        <div class="">

            {group && <h2 class="my-0">{group}</h2>}
            <h1 class="my-0">{title}</h1>
            <p>{desc}</p>
            {updated && <div class="italic">Last updated on {updated.toLocaleDateString('en-US', {
                month: 'long',
                day: 'numeric',
                year: 'numeric'
            })}</div>}
        </div>
    </div>

<style>
    h2 {
        margin-bottom: 10px !important;
      }
</style>
