---
import BaseLayout from "./BaseLayout.astro";
import '../styles/article.css';
import '../styles/prism-custom.css';
import BlogHeader from "./BlogHeader.astro";
import Card from "../components/Card.astro";

const {
    content,
} = Astro.props;
---

<BaseLayout title={content.title} description={content.desc}>
    <main-with-sidebar>
        <BlogHeader meta={content}/>
        <div style="display: flex">


            <content>

                <Card>
                    <div style="padding: 20px">
                        <slot name="content"/>
                    </div>
                </Card>
            </content>

            <sidebar>
                <slot name="sidebar"/>
            </sidebar>
        </div>
    </main-with-sidebar>
</BaseLayout>