---
import BaseLayout from "./BaseLayout.astro";
import '../styles/article.css';
import '../styles/prism-custom.css';
import BlogHeader from "./BlogHeader.astro";
import Card from "../components/Card.astro";

const {
    content,
} = Astro.props;
---

<BaseLayout title={content.title} description={content.desc}>
    <main-with-sidebar>
        <BlogHeader meta={content}/>
        <div class="two-column">


            <content>

                <div class="card article-body">
                    <slot name="content"/>
                </div>
            </content>

            <sidebar>
                <slot name="sidebar"/>
            </sidebar>
        </div>
    </main-with-sidebar>
</BaseLayout>

<style>
    .two-column {
        margin-top: 20px;
        display: grid;
        gap: 40px;
        grid-template-columns: auto 300px;
    }

    @media screen and (max-width: 1200px) {
        .two-column {
            display: grid;
            grid-template-columns: 1fr;
        }

        .two-column > content {
            order: 1;
        }
    }
</style>