---
import Card from "../components/Card.astro";
import Tag from "../components/Tag.astro";
const {
    content: {title, summary, published, tags, desc, updated = published, img},
} = Astro.props;
---
<Card>
    <div class="container">
        <div class="c2">
            <div style="flex: 1 1 auto">
                <h1>{title}</h1>
                <p class="summary">{desc}</p>
            </div>
            <div class="meta-container">
                <div class="meta date">
                    <date>{updated.toLocaleDateString('en-US', {
                        month: 'long',
                        day: 'numeric',
                        year: 'numeric'
                    })}</date>
                </div>
                <div class="meta tags">
                    {
                        tags && tags.map(tag =>
                                    <Tag>{tag}</Tag>)
                    }
                </div>
            </div>
        </div>

        {img && <img src={img} height="300"/>}
    </div>

</Card>

<style>
    .container {
        display: flex;
        /*align-items: center;*/
        /*border-bottom: 3px solid var(--border-color);*/
    }

    .c2 {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    img {
        margin-top: -20px;
        margin-right: -20px;
        margin-bottom: -20px;
        border-left: 1px solid var(--border-color);
        border-radius: 0 10px 10px 0;
    }
</style>