---
const {
    meta: {title, tags, desc, updated, img},
    group
} = Astro.props;
---
    <div class="card-contents">
        <div class="text-center">

            {group && <h2>{group}</h2>}
            <h1>{title}</h1>
            <p class="italic mx-10 md:mx-30">{desc}</p>
            {updated && <div class="text-2xl italic">{updated.toLocaleDateString('en-US', {
                month: 'long',
                day: 'numeric',
                year: 'numeric'
            })}</div>}
        </div>
    </div>

    <hr/>

<style>
    h2 {
        margin-bottom: 10px !important;
      }
</style>
