---
import BaseLayout from './BaseLayout.astro';

const {title, description, img} = Astro.props;
---

<BaseLayout title={title} description={description} img={img}>
    <div class="my-20 mx-5 md:mx-10">
        <slot/>
    </div>
</BaseLayout>
