---
import HtmlLayout from "./HtmlLayout.astro";
import '../styles/article.css';
import '../styles/prism-custom.css';
import Card from "../components/Card.astro";
import BlogHeader from "./BlogHeader.astro";

const {
    frontmatter,
} = Astro.props;
---

<HtmlLayout title={frontmatter.title} description={frontmatter.desc} img={frontmatter.img}>
    <BlogHeader meta={frontmatter}/>
    <Card>
        <div class="article-body">
            <slot/>
        </div>
    </Card>
</HtmlLayout>